body {
  margin: 0;
}

/*************************class selector*******************/
.container {
  background-color: hsl(225, 100%, 94%);
  position: relative;
  width: 100vw;
  height: 100vh;
}

.child {
  display: inline-block;
  position: absolute;
  margin: 10vh 35vw;
  background-color: white;
  border-radius: 1em;
  width: 30vw;
  height: 80vh;
  text-align: center;
}
.headphones{
  position: relative;
  width: 30vw;
  margin-top: 0;
}

.content {
  position: absolute;
  height: 10vh;
  width: 25vw;
  text-align: center;
  margin: 25vh 2.5vw;
}

.middle {
  background-color: hsl(225, 100%, 98%);
  border-radius: 1em;
  position: absolute;
  bottom: 20vh;
  left: 1.25vw;
  right: 1.25vh;
  height: 10vh;
}

.illustration{
  position: absolute;
  width: 30vw;
  left: 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.iconmusic {
  position: absolute;
  margin-top: 2vh;
  left: 2vw;
}

.back-image {
  position: absolute;
}

.payment {
  position: absolute;
  bottom: 10vh;

  left: 1.25vw;
  right: 1.25vw;
}

.myButton {
  box-shadow: 0px 9px 14px -7px hsl(245, 75%, 52%);
  background: linear-gradient(to bottom, hsl(245, 75%, 52%) 5%, hsl(245, 75%, 52%) 100%);
  background-color: hsl(245, 75%, 52%);
  border-radius: 0.6em;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.25em;
  font-weight: bold;
  padding: 1vh 6vw;
  text-decoration: none;
  text-shadow: 0 0.16% 0 hsl(245, 75%, 52%);
}

.myButton:hover {
  background: linear-gradient(to bottom, hsl(245, 75%, 52%) 5%, hsl(245, 75%, 52%) 100%);
  background-color: hsl(245, 75%, 52%);
}

.myButton:active {
  position: relative;
  top: 1px;
}

.attribution {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/***************id selector*****************/
#h1 {
  font-size: 1.8em;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
}

#mid {
  color: hsl(224, 23%, 55%);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1em;
  font-weight: 500;
}

#order {
  color: hsl(224, 23%, 55%);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1em;
  font-weight: 500;
  position: absolute;
  width: auto;
  bottom: 2vh;
  left: 3vw;
  right: 3vw;
}

#annual {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 1em;
  position: absolute;
  left: 8vw;
  margin-top: 2vh;
}

#chang {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  right: 3vw;
  margin-top: 4vh;
}

#price {
  color: hsl(224, 23%, 55%);
  font-family: 'Red Hat Display', sans-serif;
  ;
  font-size: 1em;
  position: absolute;
  left: 8vw;
  margin-top: 5vh;
}
